---
import {MarkdownInstance} from "astro";
import type {PageProps} from "../utils/pages";
import {groupByYear, sortByPubDateDesc} from "../utils/pages";
import Card from "./Card.astro";

export interface Props {
    items: MarkdownInstance<PageProps>[];
}

const {items } = Astro.props;

const sortedItems = items.sort(sortByPubDateDesc);
const groupedItems = groupByYear(sortedItems);
const sortedYears = Object.keys(groupedItems).sort((a, b) => a < b ? 1 : -1);

---

{sortedYears.map(year => (
    <div class="year-items">
        <div class="year">{year}</div>
        <ul role="list" class="link-card-grid">
            {groupedItems[year].map(item => (
                <Card
                    href={item.url}
                    title={item.frontmatter.title}
                    body={item.frontmatter.description}
                />
            ))}
        </ul>
    </div>
))}
<style>
    .year-items {
        position: relative;
        margin-bottom: 3rem;
    }
    .year {
        position: absolute;
        left: -115px;
        width: 100px;
        text-align: right;;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
