---
export interface Props {
    title: string;
    links: {title: string; url: string}[];
    subTitle: string;
    subLinks: {title: string; url: string}[];
}

const { title, links, subTitle, subLinks } = Astro.props;
---

<div class="links-card">
    {title && (
            <div class="header">
                {title}
            </div>
    )}
    <ul class="links">
        {links.map(link => (
            <li><a href={link.url}>{link.title}</a></li>
        ))}
    </ul>
    {subTitle && (
            <div class="header sub-header">
                {subTitle}
            </div>
    )}
    <ul class="links sub-links">
        {subLinks.map(link => (
                <li><a href={link.url}>{link.title}</a></li>
        ))}
    </ul>
</div>
<style>
    .links-card {
        position: absolute;
        right: -300px;
        width: 250px;
        box-sizing: border-box;
        margin: -22px 0 0;

        font-size: 1.15rem;
    }

    .links {
        margin: 0.5rem 0 0;
        padding-left: 1rem;
    }

    .links li {
        margin-bottom: 0.7rem;
    }

    .links li a {
        color: #444444;
    }

    .header {
        margin-bottom: 0.7rem;
    }

    .sub-header {
        margin-top: 32px;
    }

    @media (max-width: 1200px) {
        .links-card {
            position: relative;
            right: unset;
            width: unset;
            margin: 1rem 0 0;
        }

        .header {
            display: none;
        }

        .sub-header, .sub-links {
            display: none;
        }
    }
</style>
