---
import {PageProps} from "../utils/pages";
import MainPageHeader from "../components/MainPageHeader.astro";
import TextCard from "../components/TextCard.astro";
export interface Props {
    frontmatter: PageProps
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <MainPageHeader />
        <div class="content-card">
            <TextCard>
                <h1>{frontmatter.title}</h1>
                <code>{frontmatter.pubDate}</code>
                <div class="content"><slot /></div>
            </TextCard>
        </div>
        <i>Ваше ТСЖ ❤️</i>
    </body>
</html>
<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    }
    html {
        font-family: system-ui, sans-serif;
        background-color: #F6F6F6;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
    }
    body {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }

    .content-card {
        margin-top: 4rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .content-card h1 {
        font-size: 2rem;
        line-height: 1;
        font-weight: 800;
        margin: 0 0 0.5rem;
    }
</style>
